<h1>Partida</h1>
<%= @jugador1%> vs <%= @jugador2%>
<form id="jugador1" action="/anotar1" method="post">
	<div class="tablero">
		<div class="marcadorJugador1"><%= @puntaje1 %></div>
		<div class="botonJugador1">
			<input id="btnJugador1" type="submit" value="Anotar" <%= @disabled %>>
		</div>
	</div>
</form>

<form id="jugador2" action="/anotar2" method="post">
	<div class="tablero">
		<div class="marcadorJugador2"><%= @puntaje2 %></div>
		<div class="botonJugador2">
			<input id="btnJugador2" type="submit" value="Anotar"<%= @disabled %>>
		</div>
	</div>
</form>


<form id="ReIniciar" action="/" method="get">
	<input id="btnReinicia" type="submit" value="Volver a Empezar">
</form>





